/.gradle

/.metadata
/.settings
/.classpath
/.project

/.idea
*.iml
*.ipr
*.iws

*.DS_Store

/bin/
/build/
/log/

/src/main/resources/application-test.properties
/src/main/resources/log4j-test.properties